@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Josefin Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

header {
  background-color: #f0f0f0;
  color: #000;
}

header h1 {
  margin: 0;
  padding: 1.3rem;
  font-size: 2rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1.3rem ;
  font-size: 1.125rem;
}

nav li {
  padding: 0 .5rem 1rem 0;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #d4d4d4;
}

.banner-body {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
  width: 75%;
  max-width: 25em;
}

.banner-text {
  font-size: 1rem;
  margin: 0;
}

.banner-title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 0 0 .5rem 0;
}

.link-card-wrapper {
  display: none;
}

.banner-img {
  position: relative;
}

.btn-wrap {
  margin: 0;
  position:absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  padding: 0.5em 0.75em 0.5em;
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}

.menu-options {
  padding: 0;
  list-style-type: none;
}

.menu-options li {
  margin-bottom: .5rem;
}

.section-menu {
  padding: 1rem 1.3rem;
  background-color: #919191;
}

.section-guide {
  border-top: 1px solid #3c3c3c;
  background-color: #a7a7a7;
  padding: 1rem 1.3rem;
}

.section-deals {
  border-top: 1px solid #3c3c3c;
  background-color: #bfbfbf;
  padding: 1rem 1.3rem;
}

.menu-section-img {
  display: none;
}

.deal-img-wrap {
  width: 48%;
  display: inline-block;
  padding-bottom: .5rem;
}

.deal-img-wrap:nth-child(2n) {
  float: right;
}

.copyright {
  float: left;
  width: 50%;
}

.social-btn {
  width: 25%;
  display: inline-block;
  padding-right: .1em;
}

footer {
  padding: 1rem 1.3rem;
  background-color: #ababab;
  overflow: hidden;
}

.contact {
  line-height: 25%;
}

.footer-nav,
.contact {
  float: right;
  width: 50%;
}

.footer-nav {
  margin-top: 1rem;
  text-decoration: none;
}

@media only screen and (min-width: 25em) {

  .btn-big {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 38em){

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    position: relative;
  }

  header h1 {
    text-align: left;
  }

  nav {
    position: absolute;
    top: 40%;
    width: 100%;
  }

  nav > ul {
    text-align: right;
  }

  .banner-body {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 75%;
  }

  .link-card-section {
    background-color: #d4d4d4;
    overflow: hidden;
  }

  .link-card-wrapper {
    background-color: #666;
    display: block;
    float: left;
    width: 33.3333%;
    min-height: 303px;
    white-space: nowrap;
  }

  .link-card {
    text-decoration: none;
    width: 100%;
  }

  .link-card-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  li > h2 {
    color: #000;
  }

  .link-card-img {
    width: 90%;
  }

  .section-body-salad {
    float: left;
    width: 33.3333%;
    margin-right: .5rem;
  }

  .section-body-fruit {
    float: left;
    width: 33.3333%;
    margin-right: .5rem;
  }

  .section-menu {
    overflow: hidden;
  }

  .menu-options {
    margin: 0 .5rem;
  }

  .section-guide-body {
    width: 60%;
    margin: 0 1.875rem 0 .5rem;
    display: inline-block;
  }

  .menu-section-img {
    display: inline-block;
    width: 30%;
  }

  .section-img {
    display: inline-block;
    width: 30%;
}

@media only screen and (min-width: 60em){

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .deal-img-wrap {
    padding-right: 1%;
    width: 16%;
    display: inline-block;
  }

  .deal-img-wrap:nth-child(2n) {
    float: none;
  }
}
